<% meta :title => "Sobre nosotros",
    :description => "Conoce quiénes están detrás de esta iniciativa y el porqué.",
    :keywords => %w(about nosotros),
    :author => "geoom"
%>

<!-- Facebook Open Graph -->
<%
  meta [:property => "og:title", :content => "Sobre nosotros"]
  meta [:property => "og:description", :content => "Conoce quiénes están detrás de esta iniciativa y el porqué."]
  meta [:property => "og:type", :content => "website"]
  meta [:property => "og:url", :content => "#{request.original_url}"]
  meta [:property => "og:image", :content => image_url('large-sp-logotype.png')]
  meta [:property => "fb:page_id", :content => "365738726854197"]
  meta [:property => "fb:admins", :content => "100001120638005"]
%>
<!-- /Facebook Open Graph -->

<!-- Twiter cards -->
<%
  meta [:property => "twitter:card", :content => "summary"]
  meta [:property => "twitter:url", :content => "#{request.original_url}"]
  meta [:property => "twitter:title", :content => "Sobre nosotros"]
  meta [:property => "twitter:description", :content => "En StartupPlace te guiamos en la busca del éxito como emprendedor. Atrévete a innovar e iniciar la aventura como emprendedor."]
  meta [:property => "twitter:image", :content => image_url('logotype.png')]
%>
<!-- /Twiter cards -->

<!-- start: Page Title -->
<div id="page-title">
	<div id="page-title-inner">
		<!-- start: Container -->
		<div class="container">
			<h2><i class="ico-stats ico-white"></i>Sobre nosotros</h2>
		</div>
		<!-- end: Container  -->
	</div>	
</div>
<!-- end: Page Title -->

<!--start: Wrapper-->
<div id="wrapper">
	<!--start: Container -->
	<div class="container">
		<!--start: Row -->
    	<div class="row">
			<div class="span8">
				<!-- start: intro -->
				<div id="mision">
					<div class="title"><h3>&iquest;Qu&eacute; es StartupPlace?</h3></div>
					<p>
						<span class="dropcap dark">S</span>tartupPlace es la primera comunidad 
						de emprendimiento tecnol&oacute;gico sin fines de lucro que es conformada 
						y dirigida por estudiantes universitarios y quienes buscan fomentar la 
						creaci&oacute;n del nuevo ecosistema de emprendimiento tecnol&oacute;gico 
						en las universidades del pa&iacute;s.
					</p>
					<p>
						Comprometidos con la iniciativa, StartupPlace organiza y dirige 
						distintos eventos,talleres, conferencias y charlas sobre el entorno de 
						emprendimiento actual en el Per&uacute;, buscando tambi&eacute;n crear lazos 
						de confianza con instituciones nacionales e internacionales para ofrecer nuevas 
						oportunidades para los emprendedores universitarios.
					</p>	
				</div>	
				<!-- end: intro -->
				<hr>
				<!-- start: Mision -->
				<div id="mision">
					<div class="title"><h3>Misi&oacute;n</h3></div>
					<p>
						<span class="dropcap dark">S</span>omos una organizaci&oacute;n de estudiantes 
						que busca ser el centro de emprendimiento estudiantil y creador de empresas 
						tecnol&oacute;gicas de las universidades del pa&iacute;s, comprometidas 
						con el crecimiento y desarrollo de ideas de negocio y que re&uacute;ne a
						principales personajes expertos y l&iacute;deres en la promoci&oacute;n de
						 creaci&oacute;n de empresas alrededor de la internet con un crecimiento acelerado 
						 con miras hacia un mercado global.
					</p>
				</div>	
				<!-- end: Mision -->
				<hr>
				<!-- start: Vision -->
				<div id="vision">
					<div class="title"><h3>Visi&oacute;n</h3></div>
					<p>
						<span class="dropcap dark">C</span>rear un espacio de colaboraci&oacute;n, 
						comunicaci&oacute;n y promover la cultura emprendedora en el &aacute;mbito de las
						 TIC a nivel estudiantil que ofrece compartir experiencias y conocimientos para
						  desarrollar y poner en marcha las ideas de negocio de los emprendedores en la 
						  comunidades universitarias.
					</p>
					<p>
						Ser el principal punto de encuentro de los estudiantes emprendedores quienes 
						buscan innovar, reformar, fusionar sus ideas o desarrollarlas, expandir sus redes 
						y esfuerzo econ&oacute;mico para generar nuevas oportunidades de negocio.
					</p>
				</div>	
				<!-- end: Vision -->
				<hr>
				<!-- start: Equipo -->
				<div id="vision">
					<div class="title"><h3>Equipo</h3></div>
					<p>
						<span class="dropcap dark">L</span>os fundadores de StartupPlace  
						son universitarios apasionados por la tecnolog&iacute;a con habilidades id&oacute;neas
						 para la iniciativa que buscamos; estudiantes provenientes de distintas áreas de estudio 
						 quienes llegaron a un concenso y firmaron un compromiso por crear el nuevo 
						 ecosistema de emprendimiento tecnol&oacute;gico en las universidades del pa&iacute;s.
					</p>
				</div>	
				<!-- end: Equipo -->
			</div>

			<div class="span4">
				<!-- start: Sidebar -->
				<div id="sidebar">
					<!-- start: Skills -->
			       	<div class="title"><h3>Habilidades del equipo</h3></div>
			       	<ul class="progress-bar">
			        	<li>
			            	<h5>Desarrollo de software ( 30% )</h5>
			            	<div class="meter"><span style="width: 30%"></span></div>
			          	</li>
			          	<li>
			            	<h5>Diseño gr&aacute;fico ( 50% )</h5>
			            	<div class="meter"><span style="width: 50%"></span></div>
			          	</li>
			          	<li>
			            	<h5>Negocios ( 70% )</h5>
			            	<div class="meter"><span style="width: 70%"></span></div>
			          	</li>
			          	<li>
			            	<h5>Marketing ( 70% )</h5>
			            	<div class="meter"><span style="width: 70%"></span></div>
			          	</li>
			          	<li>
			            	<h5>Plan estrat&eacute;gico ( 80% )</h5>
			            	<div class="meter"><span style="width: 80%"></span></div>
			          	</li>
			      	</ul>
			      	<!-- end: Skills -->
				</div>
				<!-- end: Sidebar -->
			</div>
		</div>
		<!--end: Row-->
		<hr/>
		<!-- start: Row -->
		<div class="row">
			<div class="span12">

				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://startupplace.org/about" data-text="Conociendo a StartupPlace en" data-via="startupplace" data-lang="es">Twittear</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

				<div class="g-plusone" data-size="medium" data-href="http://startupplace.org/about"></div>
				<script type="text/javascript">
				  window.___gcfg = {lang: 'es-419'};

				  (function() {
				    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				    po.src = 'https://apis.google.com/js/plusone.js';
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				  })();
				</script>

				<div class="fb-like" data-href="http://startupplace.org/about" data-width="100" data-layout="button_count" data-show-faces="false" data-send="false"></div>
				<div id="fb-root"></div>
				<script>(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>

			</div>
		</div>
		<!-- end: End -->

	</div>
	<!--end: Container-->
</div>
<!-- end: Wrapper  -->