<% meta :title => "ideaStartup",
    :description => "Programa de desarrollo para emprendedores tecnológicos de StartupPlace.",
    :keywords => %w(ideaStartup taller),
    :author => "geoom"
%> 

<!-- Facebook Open Graph -->
<%
  meta [:property => "og:title", :content => "ideaStartup"]
  meta [:property => "og:description", :content => "Programa de desarrollo para emprendedores tecnológicos de StartupPlace."]
  meta [:property => "og:type", :content => "website"]
  meta [:property => "og:url", :content => "#{request.original_url}"]
  meta [:property => "og:image", :content => image_url('large-sp-logotype.png')]
  meta [:property => "fb:page_id", :content => "365738726854197"]
  meta [:property => "fb:admins", :content => "100001120638005"]
%>
<!-- /Facebook Open Graph -->

<!-- Twiter cards -->
<%
  meta [:property => "twitter:card", :content => "summary"]
  meta [:property => "twitter:url", :content => "#{request.original_url}"]
  meta [:property => "twitter:title", :content => "ideaStartup"]
  meta [:property => "twitter:description", :content => "Programa de desarrollo para emprendedores tecnológicos de StartupPlace."]
  meta [:property => "twitter:image", :content => image_url('large-sp-logotype.png')]
%>
<!-- /Twiter cards -->

<!-- start: Page Title -->
<div id="page-title">
	<div id="page-title-inner">
		<!-- start: Container -->
		<div class="container">
			<h2><i class="ico-cogwheels ico-white"></i>ideaStartup</h2>
		</div>
		<!-- end: Container  -->
	</div>	
</div>
<!-- end: Page Title -->

<!--start: Wrapper-->
<div id="wrapper">
	<!--start: Container -->
	<div class="container">
		<!--start: Row -->
		<div class="row">
			<div class="span9">
				<!-- start: Post -->
				<div class="post post-page">
					<hr>
					<div id="about" class="title">
						<h2>&iquest;Qu&eacute; es ideaStartup?</h2>
					</div>
					<div class="post-content">
						<div class="post-description">
							<p>
								<span class="dropcap dark">E</span>s el programa de desarrollo emprendedores tecnol&oacute;gicos que busca identificar ideas innovadoras de largo alcance construir o refinar los principales componentes que haran de tu Startup un negocio escalable.
							</p>
							<p>
								El programa esta dirigido por mentores especialistas que aplican metodolog&iacute;as espec&iacute;ficas en la formaci&oacute;n de una Startup, ellos cuenta con la suficiente experiencia para ofrecerte los consejos adecuados para prepararte para las oportunidades de inversi&oacute;n y atracci&oacute;n de cliente.
							</p>	
							<p>
								IdeaStartup esta dirigido para todo aquel estudiante con mente de ganador, atrevido y decidido. No importa de que &aacute;rea seas, las ideas las tenemos todos. Deja atr&aacute;s los mitos que destruyen tu espiritu de emprendimiento y atrevete a innovar.
							</p>
						</div>
					</div>
					<hr>
					<div id="profits" class="title"><h2>&iquest;Qu&eacute; te ofrecemos?</h2></div>
					<div class="post-content">
						<div class="post-description">
							<p>
								<ul class="event_post">
									<li>
										Aprender todo sobre el entorno de startup: conoce que esta pasando en el mundo y el Per&uacute; sobre emprendimiento, y porque las Startup es la mejor opci&oacute;n para levantar empresas en internet.
									</li>
									<li>
										Espacio de Networking y con esto, conocer a tus pr&oacute;ximos socios para emprender la aventura. Recuerda que levatar empresas en internet sin un equipo es un estilo muy arcaico, ya no funciona. 
									</li>
									<li>
										Identificar tu modelo de negocio.
									</li>
									<li>
										Aprender a vender tu producto y convencer a los inversiones a que se interesen sobre tu idea.
									</li>
									<li>
										Exponer p&uacute;blicamente tu Startup, as&iacute; posibles inversionas estan siguiendo lo que haces si els interesa tu idea, esto lo puede motivar a que te contacten.
									</li>
									<li>
										Construir una red de contactos de especialistas y emprendedores que buscan cosas en com&uacute;n, emprender en internet.
									</li>
									<li>
										Formar parte de la comunidad startupPlace, porque siempre estamos en busca de personas con un ideal y con las ganas de hacer algo diferente, startupPlace es un iniciativa que busca romper la mentalidad tradicional y t&uacute; puedes ser parte de esta.
									</li>
								</ul>
							</p>
						</div>
					</div>	
					<hr>

					<div class="alert alert-info">
						<strong> Pronto estaremos publicando todos los detalles para este taller.</strong>
					</div>

				</div>
				<!-- end: Post -->	
			</div>
			<!-- start: Sidebar -->
			<div class="span3 hidden-phone">
				<hr/>
				<!-- start: Sidebar Menu -->
				<div id="menuFloatAutomatic" class="widget">
					<div class="title"><h3>ideaStartup</h3></div>
					<ul class="links-list-alt">
						<li><a href="#about">&iquest;Qu&eacute; es ideaStartup?</a></li>
						<li><a href="#profits">&iquest;Qu&eacute; te ofrecemos?</a></li>
					</ul>
				</div>
				<!-- end: Sidebar Menu -->
			</div>
			<!-- end: Sidebar -->
		</div>

		<hr/>
		<div class="row">
			<div class="span12">

				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://startupplace.org/ideastartup" data-text="taller de formaci&oacute;n de emprendedores tecnol&oacute;gicos de startupPlace en" data-via="startupplace" data-lang="es" data-hashtags="ideaStartup">Twittear</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

				<!-- Place this tag where you want the +1 button to render. -->
				<div class="g-plusone" data-size="medium" data-href="http://startupplace.org/ideastartup"></div>

				<!-- Place this tag after the last +1 button tag. -->
				<script type="text/javascript">
				  window.___gcfg = {lang: 'es-419'};

				  (function() {
				    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				    po.src = 'https://apis.google.com/js/plusone.js';
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				  })();
				</script>

				<div class="fb-like" data-href="http://startupplace.org/ideastartup" data-width="100" data-layout="button_count" data-show-faces="false" data-send="false"></div>
				<div id="fb-root"></div>
				<script>(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>

			</div>
		</div>
		<hr>

	</div>
	<!--end: Container-->
</div>
<!-- end: Wrapper  -->	