
# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore images uploaded
public/system
public/ckeditor_assets
public/assets/*

sp-notes-rails.txt
/.idea