<!-- start: social -->
<div class="social-box">
  <!-- Start: like in facebook button -->
  <div class="item">
    <div class="fb-like" data-href="https://www.facebook.com/StartupPlace" data-width="100" data-show-faces="true" data-send="false"></div>
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
  </div>
  <!-- End: like in facebook button -->
  <hr class="separation"/>
  <!-- Start: follow in twitter button -->
  <div class="item">
    <a href="https://twitter.com/StartupPlace" class="twitter-follow-button" data-show-count="false" data-lang="es">Seguir a @StartupPlace</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
  <!-- End: follor in twitter button -->
  <hr class="separation"/>
  <!-- Start: follow in G+ button -->
  <div class="item">
    <div class="g-follow" data-annotation="bubble" data-height="24" data-href="https://plus.google.com/101854254152381884237" data-rel="publisher"></div>
    <script type="text/javascript">
      window.___gcfg = {lang: 'es-419'};

      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
  </div>
  <!-- End: follor in G+ button -->
  <hr class="separation"/>

  <!-- Start: follow in Youtube button -->
  <div class="item">
    <script src="https://apis.google.com/js/plusone.js"></script>
    <div class="g-ytsubscribe" data-channel="startupplace" data-layout="full"></div>
  </div>
  <!-- End: follow in Youtube button -->
</div>
<!-- end: social -->