<% meta :title => "#{@news.title}",
    :description => truncate(strip_tags(@news.body), :length => 200),
    :keywords => "#{@news.tag_list}",
    :author => ""
%>

<!-- Facebook Open Graph -->
<%
  meta [:property => "og:title", :content => "#{@news.title}"]
  meta [:property => "og:description", :content => truncate(strip_tags(@news.body), :length => 200)]
  meta [:property => "og:type", :content => "article"]
  meta [:property => "og:url", :content => "#{request.original_url}"]
  meta [:property => "og:image", :content => @news.image.url(:medium)]
  meta [:property => "fb:page_id", :content => "365738726854197"]
  meta [:property => "fb:admins", :content => "100001120638005"]
%>
<!-- /Facebook Open Graph -->

<!-- Twiter cards -->
<%
  meta [:property => "twitter:card", :content => "summary"]
  meta [:property => "twitter:url", :content => "#{request.original_url}"]
  meta [:property => "twitter:title", :content => "#{@news.title}"]
  meta [:property => "twitter:description", :content => truncate(strip_tags(@news.body), :length => 200)]
  meta [:property => "twitter:image", :content => @news.image.url(:medium)]
%>
<!-- /Twiter cards -->

<!-- start: Page Title -->
<div id="page-title">
	<div id="page-title-inner">
		<!-- start: Container -->
		<div class="container">
			<h2><i class="ico-pencil ico-white"></i><%= @news.title.html_safe  %></h2>
		</div>
		<!-- end: Container  -->
	</div>	
</div>
<!-- end: Page Title -->
			
<!--start: Wrapper-->
<div id="wrapper">
	<!--start: Container -->
	<div class="container">
		<!--start: Row -->
		<div class="row">
			<div class="span8 offset2">
				<!-- start: Post -->
				<div class="post post-page">
					<% if @news.image.exists? %>
						<div class="post-img picture">
							<%= image_tag @news.image.url(:medium)%>
						</div>
					<% end %>

					<div class="post-content">
						<div class="post-description">
							<p>
								<%= @news.body.html_safe %>
							</p>
						</div>
						<div class="post-meta">
							<span><i class="mini-ico-calendar"></i><%= @news.created_at %></span>
							<span><i class="mini-ico-user"></i>By <a href="#">user </a></span>
						</div>
					</div>
				
				</div>
				<!-- end: Post -->
				
				<div class="clear"></div>
			</div>	
		
	</div>
	<!--end: Container-->
</div>
<!-- end: Wrapper  -->	