<!-- start: Page Title -->
<div id="page-title">
	<div id="page-title-inner">
		<!-- start: Container -->
		<div class="container">
			<h2><i class="ico-pencil ico-white"></i><%= @news.title.html_safe  %></h2>
		</div>
		<!-- end: Container  -->
	</div>	
</div>
<!-- end: Page Title -->
			
<!--start: Wrapper-->
<div id="wrapper">
	<!--start: Container -->
	<div class="container">
		<!--start: Row -->
		<div class="row">
			<div class="span8 offset2">
				<!-- start: Post -->
				<div class="post post-page">
					<% if @news.image.exists? %>
						<div class="post-img picture">
							<%= image_tag @news.image.url(:medium)%>
						</div>
					<% end %>

					<div class="post-content">
						<div class="post-description">
							<p>
								<%= @news.body.html_safe %>
							</p>
						</div>
						<div class="post-meta">
							<span><i class="mini-ico-calendar"></i><%= @news.created_at %></span>
							<span><i class="mini-ico-user"></i>By <a href="#">user </a></span>
						</div>
					</div>
				
				</div>
				<!-- end: Post -->
				
				<div class="clear"></div>
			</div>	
		
	</div>
	<!--end: Container-->
</div>
<!-- end: Wrapper  -->	