 <% meta :title => "Editar #{@news.title}", :robots => "noindex" %>

<h1>Edit an News</h1>

<%= render partial: 'form', locals: { url_into: dashboard_news_path(@news), action_label: 'Guardar cambios' } %>
