 <% meta :title => "Artículos publicados", :robots => "noindex" %>

 <h1>Mis artículos</h1>
 <ul>
 	<% if @news.each do |news| %>
 		<ol>
 			<%= link_to news.title.html_safe, dashboard_news_path(news), class: 'newsItem', id: 'news_#{news_id}' %>
 		</ol>
 	<% end.empty? %>
 		<p>Todavía no has publicado ningún artículo.</p>
 	<% end %>
 </ul>

<hr/>
<% if can? :create, News %>
  <%= link_to "Publicar nuevo artículo", new_dashboard_news_path, class: 'newNews' %>
<% end %>
