body.pageError {
background: rgb(175, 181, 184);
font-family: 'Open Sans', sans-serif;
color: #e4e4da;
}

.pageError h3 {
	font-family: 'Squada One', cursive;
	font-size: 110px;
	color: #88a61b;
	font-weight: bolder;
	text-align: center;
	margin-bottom: 70px;
}

.pageError p{
	text-align: center;
	font-size: 24px;
	line-height: 30px;
}