
article.event-activity {
  height: 100%;
  overflow: hidden;
  border: 1px solid #eee;
  box-shadow: 0 2px 10px #D2D2D2;
  -moz-box-shadow: 0 2px 10px #d2d2d2;
  -ms-box-shadow: 0 2px 10px #d2d2d2;
  -o-box-shadow: 0 2px 10px #d2d2d2;
  -webkit-box-shadow: 0 2px 10px #D2D2D2;
  header {
    height: 32px;
    background-color: #4486f6;
    vertical-align: middle;
    font-size: 14px;
    color: #fff;
    padding: 15px 0 0 10px;
    margin-bottom: 0;
    line-height: 15px;
    border-bottom: 1px solid #ddd;
    background: #4486f6;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4486f6), color-stop(100%, #207cca), color-stop(100%, #2989d8), color-stop(100%, #4180eb));
    background: -webkit-linear-gradient(top, #4486f6 0%, #207cca 100%, #2989d8 100%, #4180eb 100%);
    background: -moz-linear-gradient(top, #4486f6 0%, #207cca 100%, #2989d8 100%, #4180eb 100%);
    background: -o-linear-gradient(top, #4486f6 0%, #207cca 100%, #2989d8 100%, #4180eb 100%);
    background: linear-gradient(top, #4486f6 0%, #207cca 100%, #2989d8 100%, #4180eb 100%);
  }
}

div {
  &.green-opacy {
    background-color: #dfeead;
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #cbecc7), color-stop(35%, #dbe8da), color-stop(68%, #d7e8d5), color-stop(100%, #cbecc7), color-stop(100%, #eeeeee), color-stop(100%, #cbecc7));
    background: -webkit-linear-gradient(left, #cbecc7 0%, #dbe8da 35%, #d7e8d5 68%, #cbecc7 100%, #eeeeee 100%, #cbecc7 100%);
    background: -moz-linear-gradient(left, #cbecc7 0%, #dbe8da 35%, #d7e8d5 68%, #cbecc7 100%, #eeeeee 100%, #cbecc7 100%);
    background: -o-linear-gradient(left, #cbecc7 0%, #dbe8da 35%, #d7e8d5 68%, #cbecc7 100%, #eeeeee 100%, #cbecc7 100%);
    background: linear-gradient(left, #cbecc7 0%, #dbe8da 35%, #d7e8d5 68%, #cbecc7 100%, #eeeeee 100%, #cbecc7 100%);
  }
  &.sky-light {
    background: #eee;
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #eeeeee), color-stop(35%, #fcfcfc), color-stop(68%, #f7f7f7), color-stop(100%, #eeeeee), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(left, #eeeeee 0%, #fcfcfc 35%, #f7f7f7 68%, #eeeeee 100%, #eeeeee 100%);
    background: -moz-linear-gradient(left, #eeeeee 0%, #fcfcfc 35%, #f7f7f7 68%, #eeeeee 100%, #eeeeee 100%);
    background: -o-linear-gradient(left, #eeeeee 0%, #fcfcfc 35%, #f7f7f7 68%, #eeeeee 100%, #eeeeee 100%);
    background: linear-gradient(left, #eeeeee 0%, #fcfcfc 35%, #f7f7f7 68%, #eeeeee 100%, #eeeeee 100%);
  }
  &.green-light {
    background: #dfeead;
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(12%, #dfeead), color-stop(36%, #ebf8c2), color-stop(62%, #ebf8c2), color-stop(95%, #dfeead));
    background: -webkit-linear-gradient(left, #dfeead 12%, #ebf8c2 36%, #ebf8c2 62%, #dfeead 95%);
    background: -moz-linear-gradient(left, #dfeead 12%, #ebf8c2 36%, #ebf8c2 62%, #dfeead 95%);
    background: -o-linear-gradient(left, #dfeead 12%, #ebf8c2 36%, #ebf8c2 62%, #dfeead 95%);
    background: linear-gradient(left, #dfeead 12%, #ebf8c2 36%, #ebf8c2 62%, #dfeead 95%);
  }
  &.yellow {
    background: #fbf0a0;
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #fbf0a0), color-stop(35%, #f7f1c3), color-stop(68%, #f7efc5), color-stop(100%, #fbf0a0), color-stop(100%, #eeeeee), color-stop(100%, #fbf0a0));
    background: -webkit-linear-gradient(left, #fbf0a0 0%, #f7f1c3 35%, #f7efc5 68%, #fbf0a0 100%, #eeeeee 100%, #fbf0a0 100%);
    background: -moz-linear-gradient(left, #fbf0a0 0%, #f7f1c3 35%, #f7efc5 68%, #fbf0a0 100%, #eeeeee 100%, #fbf0a0 100%);
    background: -o-linear-gradient(left, #fbf0a0 0%, #f7f1c3 35%, #f7efc5 68%, #fbf0a0 100%, #eeeeee 100%, #fbf0a0 100%);
    background: linear-gradient(left, #fbf0a0 0%, #f7f1c3 35%, #f7efc5 68%, #fbf0a0 100%, #eeeeee 100%, #fbf0a0 100%);
  }
  &.sky-opacy {
    background: #dce8ff;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dce8ff), color-stop(35%, #e8f0ff), color-stop(68%, #e8f0ff), color-stop(100%, #dce8ff), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(#dce8ff 0%, #e8f0ff 35%, #e8f0ff 68%, #dce8ff 100%, #eeeeee 100%);
    background: -moz-linear-gradient(#dce8ff 0%, #e8f0ff 35%, #e8f0ff 68%, #dce8ff 100%, #eeeeee 100%);
    background: -o-linear-gradient(#dce8ff 0%, #e8f0ff 35%, #e8f0ff 68%, #dce8ff 100%, #eeeeee 100%);
    background: linear-gradient(#dce8ff 0%, #e8f0ff 35%, #e8f0ff 68%, #dce8ff 100%, #eeeeee 100%);
  }
  &.green-dark {
    background: #cbecc7;
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #cbecc7), color-stop(35%, #dbe8da), color-stop(68%, #d7e8d5), color-stop(100%, #cbecc7), color-stop(100%, #eeeeee), color-stop(100%, #cbecc7));
    background: -webkit-linear-gradient(left, #cbecc7 0%, #dbe8da 35%, #d7e8d5 68%, #cbecc7 100%, #eeeeee 100%, #cbecc7 100%);
    background: -moz-linear-gradient(left, #cbecc7 0%, #dbe8da 35%, #d7e8d5 68%, #cbecc7 100%, #eeeeee 100%, #cbecc7 100%);
    background: -o-linear-gradient(left, #cbecc7 0%, #dbe8da 35%, #d7e8d5 68%, #cbecc7 100%, #eeeeee 100%, #cbecc7 100%);
    background: linear-gradient(left, #cbecc7 0%, #dbe8da 35%, #d7e8d5 68%, #cbecc7 100%, #eeeeee 100%, #cbecc7 100%);
  }
}

article.event-activity div.summary {
  height: 140px;
  display: block;
  color: black;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  padding: 6px 14px 4px 10px;
}

ul.event_post {
  padding: 5px 18px;
}

.star_list_event li {
  background: image-url("icons/list/blue/list_star.png") no-repeat 0% 10%;
  padding: 0 0 0 16px;
}