
.social-box {
  background-color: #f8f8f8;
  border: 1px solid #e5e5e5;
  overflow: hidden;
  padding: 20px;
  .item {
    text-align: center;
  }
}

.facebook-like {
  width: 100px;
  background-color: #404040;
  border-radius: 5px;
}