/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require icons
 *= require social-icons
 *= require_self
 */

@import "reset-app";
@import "header";
@import "footer";
@import "social";
@import "flex-slider";
@import "responsive";


/* News */

.home-entry {
  h2 {
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
  }
  p {
    font-size: 17px;
    margin: 10px 35px;
    margin-bottom: 30px;
    text-align: center;
  }
  .picture {
    border: 1px solid #ccc;
    vertical-align: baseline;
    border-radius: 50% / 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 5px 10px;
    clip: rect(12px, auto, 24px, 0);
  }
}

div.newsletter div.item-description {
  padding-top: 10px;
  h4 {
    font-size: 16px;
  }
}

.picture {
  position: relative;
  border: 1px solid #ccc;
  .item-description {
    padding: 5px 15px;
    border: none;
    margin: 0px;
  }
}

.post .picture, #portfolio-wrapper .picture {
  position: relative;
  background: #fff;
  padding: 3px;
  border: 1px solid #fcfcfc;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.post .picture {
  margin-bottom: 0px;
  padding: 5px;
  border: none;
  margin: 0px;
}

#portfolio-wrapper {
  .picture .item-description {
    margin-bottom: 0px;
    padding: 5px;
    border: none;
    margin: 0px;
  }
  .portfolio-item {
    margin-bottom: 20px;
    .title {
      font-size: 23px;
      line-height: 24px;
      text-align: center;
      border: 0;
    }
  }
}

.portfolio-item {
  h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
    line-height: 20px;
  }
}

.picture img {
  width: 100%;
  height: auto;
}

.image-overlay-link, .image-overlay-zoom {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 40;
  display: none;
  background-color: #222;
  background: rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
}

.image-overlay-link {
  background-image: url(overlay-icon-01.png);
}

.image-overlay-zoom {
  background-image: url(overlay-icon-02.png);
}

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  overflow: hidden;
  border: 4px solid #fff;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  &.widescreen {
    padding-bottom: 57.25%;
  }
  &.vimeo {
    padding-top: 0;
  }
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video {
    padding-top: 0;
  }
}

/* Icon Boxes */

.icons-box-container, .icons-boxes-container {
  float: left;
}

.icons-box {
  text-align: center;
  border: 1px solid #fff;
  padding: 20px 10px 10px 10px;
  &:hover {
    background: #fcfcfc;
    border: 1px solid #f6f6f6;
  }
  h3 {
    margin: 0 auto;
    padding-top: 10px;
    border-bottom: 3px double #f6f6f6;
    margin-bottom: 10px;
  }
  p {
    float: left;
  }
  i {
    float: left;
    margin: -2px 0 0px 0;
    &.circle, &.circle-color, &.circle-color-full {
      float: none !important;
      margin: 0 auto !important;
    }
  }
  .title {
    margin-top: 10px;
  }
}

.circle {
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
  -webkit-box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 1);
  margin: 0 auto;
  opacity: .1;
  filter: alpha(opacity = 10);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}

.big {
  border: 20px solid #fff !important;
}

.ico-color {
  background-image: url("../img/icons/blue/glyphicons.png");
  opacity: 1;
}

.mini-color {
  background-image: url("../img/icons/blue/glyphicons-mini.png");
  opacity: 1;
}

.circle-color {
  background-color: #fff;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
  -webkit-box-shadow: 0px 0px 0px 3px #29a9df;
  -moz-box-shadow: 0px 0px 0px 3px #29a9df;
  box-shadow: 0px 0px 0px 3px #29a9df;
  margin: 0 auto;
  opacity: 1;
}

.circle-color-full {
  background-color: #29a9df;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
  -webkit-box-shadow: 0px 0px 0px 3px #29a9df;
  -moz-box-shadow: 0px 0px 0px 3px #29a9df;
  box-shadow: 0px 0px 0px 3px #29a9df;
  margin: 0 auto;
  opacity: 1;
}

.big-color {
  border: 20px solid #29a9df !important;
}

/* Icon Boxes Vert
=================================================================== */

.icons-box-vert-container, .icons-boxes-vert-container {
  float: left;
}

.icons-box-vert {
  border: 1px solid #fff;
  padding: 30px 15px 10px 15px;
  &:hover {
    background: #fcfcfc;
    border: 1px solid #f6f6f6;
  }
}

.icons-box-vert-info {
  float: right;
  margin-top: -6px;
  margin-bottom: 6px;
  margin-left: 20px;
  width: 70%;
}

.icons-box-vert {
  h3 {
    float: left;
    margin-top: -10px;
  }
  p {
    float: left !important;
  }
  i {
    float: left;
    &.circle {
      float: left !important;
      -webkit-border-radius: 50em;
      -moz-border-radius: 50em;
      border-radius: 50em;
      -webkit-box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 1);
      -moz-box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 1);
      box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 1);
      opacity: .1;
      filter: alpha(opacity = 10);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    }
  }
}

.icons-left {
  float: left;
}

/* Google Map
=================================================================== */

#googlemaps-container-top {
  position: relative;
  z-index: 2;
  -webkit-box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.25);
  height: 20px;
}

#googlemaps-container-bottom {
  position: relative;
  z-index: 2;
  -webkit-box-shadow: inset 0px -3px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px -3px 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px -3px 3px rgba(0, 0, 0, 0.25);
  height: 20px;
  margin-top: -40px;
  border-bottom: 5px solid #f6f6f6;
  margin-bottom: 20px;
}

#googlemaps {
  position: relative;
  z-index: 1;
  height: 400px;
  width: 100%;
  top: -20px;
}

#small-map-container {
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
  position: relative;
  z-index: 2;
  border: 5px solid #f6f6f6;
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  height: 210px;
  width: 210px;
  margin-bottom: -215px;
  a {
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
    position: relative;
    z-index: 2;
    height: 210px;
    width: 210px;
    display: block;
  }
}

#small-map {
  position: relative;
  z-index: 1;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
  margin-left: 5px;
}


/* Page Title
=================================================================== */

#page-title-icon {
  background: #fff;
  height: 48px;
  width: 48px;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
  padding: 4px;
  margin-left: -16px;
  margin-top: -18px;
  position: relative;
  z-index: 10;
  float: left;
}

#page-title {
  background: url(bg/slider.jpg);
  display: block;
  margin-bottom: 25px;
  position: relative;
  z-index: 20;
  border-bottom: 5px solid #f6f6f6;
}

#page-title-inner {
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5YTlkZiIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI5YTlkZiIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top, rgba(41, 169, 223, 0.9) 0%, rgba(41, 169, 223, 0.9) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(41, 169, 223, 0.9)), color-stop(100%, rgba(41, 169, 223, 0.9)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(41, 169, 223, 0.9) 0%, rgba(41, 169, 223, 0.9) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(41, 169, 223, 0.9) 0%, rgba(41, 169, 223, 0.9) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(41, 169, 223, 0.9) 0%, rgba(41, 169, 223, 0.9) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(41, 169, 223, 0.9) 0%, rgba(41, 169, 223, 0.9) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e629a9df', endColorstr='#e629a9df',GradientType=0 );
  /* IE6-8 */
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

#page-title {
  i {
    margin: -6px 2px -5px -18px;
    padding: 0px;
  }
  h2 {
    display: inline-block;
    font-family: "Droid Sans" !important;
    color: #fff;
    padding: 10px 20px 5px 20px;
    font-size: 30px;
  }
  span {
    color: #555;
  }
}

/* Progress Bar
=================================================================== */

.progress-bar {
  h5 {
    margin-bottom: 6px;
  }
  li {
    margin-bottom: 12px;
    list-style: none;
  }
}

.meter {
  height: 23px;
  position: relative;
  background: #fcfcfc;
  > span {
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: hidden;
    }
  }
}

.animate > span > span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.meter > span:after, .animate > span > spans li.current {
  background: #29a9df;
}

/* Dropcaps
=================================================================== */

.dropcap {
  background: #fcfcfc;
  color: #666;
  display: inline-block;
  float: left;
  font-size: 23px;
  font-weight: 600;
  height: 36px;
  line-height: 36px;
  margin: 0 7px 0 0;
  text-align: center;
  width: 36px;
  border: 1px solid #f6f6f6;
  &.dark {
    background: #3a3a3a;
    color: #fff;
  }
  &.color {
    background: #29a9df;
    color: #fff;
  }
}