
/* Blog Posts
=================================================================== */

.post {
  padding: 0 0 15px 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  &.post-page {
    border-bottom: none;
    margin-bottom: 0;
  }
}

.post-content {
  margin: 22px 0 0 0px;
  .post-title {
    padding-bottom: 15px;
    h1 {
      font-size: 40px;
    }
  }
}

.post .post-description {
  ul {
    margin-left: 15px;
  }
  ol {
    margin-left: 38px;
  }
  ul li {
    background: url(../img/icons/list/blue/list_plus.png) no-repeat 0 5px;
    padding: 0 0 0 18px;
  }
}