<!-- start: Footer Menu -->
<div id="footer-menu" class="hidden-tablet hidden-phone">
  <!-- start: Container -->
  <div class="container">
    <!-- start: Row -->
    <div class="row">
      <!-- start: Footer Menu Logo -->
      <div class="span2">
        <div id="footer-menu-logo">
          <%= image_tag("logotype-foot.png", alt: 'startupplace') %>
        </div>
      </div>
      <!-- end: Footer Menu Logo -->

      <!-- start: Footer Menu Links-->
      <div class="span9">
        <div id="footer-menu-links">
          <ul id="footer-nav">
            <li>
              <%= link_to "Sobre nosotros", about_path %>
            </li>
            <li>
              <%= link_to "News", news_index_path %>
            </li>
            <li>
              <%= link_to "ideaStartup", ideastartup_path %>
            </li>
          </ul>
        </div>
      </div>
      <!-- end: Footer Menu Links-->

      <!-- start: Footer Menu Back To Top -->
      <div class="span1">
        <div id="footer-menu-back-to-top">
          <a href="#"></a>
        </div>
      </div>
      <!-- end: Footer Menu Back To Top -->
    </div>
    <!-- end: Row -->
  </div>
  <!-- end: Container  -->        
</div>        
<!-- end: Footer Menu -->

<!-- start: Footer -->
<div id="footer">
  <!-- start: Container -->
  <div class="container">
    <!-- start: Row -->
    <div class="row">
      <!-- start: About -->
      <div class="span3">
        <h3>StartupPlace</h3>
        <p>
          Somos la primera comunidad universitaria de emprendedores e innovadores en internet.
        </p>
      </div>
      <!-- end: About -->
      <div class="span4">
        <!-- start: Follow Us -->
        <h3>S&iacute;guemos</h3>
        <ul class="social-grid">
          <li>
            <div class="social-item">                                
              <div class="social-info-wrap">
                <div class="social-info">
                  <div class="social-info-front social-facebook">
                    <a href="https://www.facebook.com/StartupPlace" target="_blank"></a>
                  </div>
                  <div class="social-info-back social-facebook-hover">
                    <a href="https://www.facebook.com/StartupPlace" target="_blank"></a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="social-item">                                
              <div class="social-info-wrap">
                <div class="social-info">
                  <div class="social-info-front social-twitter">
                    <a href="https://twitter.com/StartupPlace" target="_blank"></a>
                  </div>
                  <div class="social-info-back social-twitter-hover">
                    <a href="https://twitter.com/StartupPlace" target="_blank"></a>
                  </div>        
                </div>
              </div>
            </div>
          </li>
        </ul>
        <!-- end: Follow Us -->
      </div>
      <div class="span5">
        <form id="newsletter" action="http://startupplace.us8.list-manage2.com/subscribe/post?u=f26e30404e00d54555b15130d&amp;id=06a07cea95" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <h3>Suscríbete</h3>
          <p>Déjanos tu email para enterarte de más eventos</p>
          <label for="newsletter_input">@:</label>
          <input type="text" id="newsletter_input" name="EMAIL" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_f26e30404e00d54555b15130d_06a07cea95" value=""></div>
          <input type="submit" id="newsletter_submit" value="submit">
        </form>
      </div>
    </div>
    <!-- end: Row -->        
  </div>
  <!-- end: Container  -->
</div>
<!-- end: Footer -->

<!-- start: Copyright -->
<div id="copyright">

  <!-- start: Container -->
  <div class="container">

    <div class="span12">
      <p>
      &copy; 2014, StartupPlace
      </p>
    </div>

  </div>
  <!-- end: Container  -->
</div>        
<!-- end: Copyright -->