<!-- start: Footer Menu -->
<div id="footer-menu" class="hidden-tablet hidden-phone">
  <!-- start: Container -->
  <div class="container">
    <!-- start: Row -->
    <div class="row">
      <!-- start: Footer Menu Logo -->
      <div class="span2">
        <div id="footer-menu-logo">
          <%= image_tag("logotype-foot.png", alt: 'startupplace') %>
        </div>
      </div>
      <!-- end: Footer Menu Logo -->

      <!-- start: Footer Menu Links-->
      <div class="span9">
        <div id="footer-menu-links">
          <ul id="footer-nav">
            <li>
              <%= link_to "Sobre nosotros", about_path %>
            </li>
            <li>
              <%= link_to "News", news_index_path %>
            </li>
            <li>
              <%= link_to "ideaStartup", ideastartup_path %>
            </li>
          </ul>
        </div>
      </div>
      <!-- end: Footer Menu Links-->

      <!-- start: Footer Menu Back To Top -->
      <div class="span1">
        <div id="footer-menu-back-to-top">
          <a href="#"></a>
        </div>
      </div>
      <!-- end: Footer Menu Back To Top -->
    </div>
    <!-- end: Row -->
  </div>
  <!-- end: Container  -->        
</div>        
<!-- end: Footer Menu -->

<!-- start: Footer -->
<div id="footer">
  <!-- start: Container -->
  <div class="container">
    <!-- start: Row -->
    <div class="row">
      <!-- start: About -->
      <div class="span3">
        <h3>StartupPlace</h3>
        <p>
          Somos la primera comunidad universitaria de emprendedores e innovadores en internet.
        </p>
      </div>
      <!-- end: About -->

      <div class="span6">
        <!-- start: Follow Us -->
        <h3>S&iacute;guemos</h3>
        <ul class="social-grid">
          <li>
            <div class="social-item">                                
              <div class="social-info-wrap">
                <div class="social-info">
                  <div class="social-info-front social-facebook">
                    <a href="https://www.facebook.com/StartupPlace" target="_blank"></a>
                  </div>
                  <div class="social-info-back social-facebook-hover">
                    <a href="https://www.facebook.com/StartupPlace" target="_blank"></a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="social-item">                                
              <div class="social-info-wrap">
                <div class="social-info">
                  <div class="social-info-front social-twitter">
                    <a href="https://twitter.com/StartupPlace" target="_blank"></a>
                  </div>
                  <div class="social-info-back social-twitter-hover">
                    <a href="https://twitter.com/StartupPlace" target="_blank"></a>
                  </div>        
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="social-item">                                
              <div class="social-info-wrap">
                <div class="social-info">
                  <div class="social-info-front social-youtube">
                    <a href="https://www.youtube.com/startupplace" target="_blank"></a>
                  </div>
                  <div class="social-info-back social-youtube-hover">
                    <a href="https://www.youtube.com/startupplace" target="_blank"></a>
                  </div>        
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="social-item">                                
              <div class="social-info-wrap">
                <div class="social-info">
                  <div class="social-info-front social-vimeo">
                    <a href="http://vimeo.com/user15785241" target="_blank"></a>
                  </div>
                  <div class="social-info-back social-vimeo-hover">
                    <a href="http://vimeo.com/user15785241" target="_blank"></a>
                  </div>        
                </div>
              </div>
            </div>
          </li>
        </ul>
        <!-- end: Follow Us -->

      </div>
    </div>
    <!-- end: Row -->        
  </div>
  <!-- end: Container  -->
</div>
<!-- end: Footer -->

<!-- start: Copyright -->
<div id="copyright">

  <!-- start: Container -->
  <div class="container">

    <div class="span12">
      <p>
      &copy; 2014, StartupPlace
      </p>
    </div>

  </div>
  <!-- end: Container  -->
</div>        
<!-- end: Copyright -->